*{
    margin-left: 30px;
    
}
#countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:30px;
    text-align: center;
    
}
.country{
    border: 1px solid rgb(14, 23, 66);
    background-color: aquamarine;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 300px;
    
   
    
}
.country-name{
    font-size: 30px;
    color: rgb(51, 16, 180);
    text-align: center;
    
    
}
#countryDetail img{
    width: 200px;
    margin-bottom: 70px;
    text-align: center;
    
    
    
}